@font-face {
  font-family: "Eve Sans Neue Condensed";
  src: url("../font/eveSansNeueCondensed.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Eve Sans Neue Expanded";
  src: url("../font/eveSansNeueExpanded.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Fragma";
  src: url("../font/fragmaMedium.otf");
  font-weight: 400;
}

body,
.eve-sans-neue-condensed {
  font: 16px "Eve Sans Neue Condensed", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
}

.subtitle,
.eve-sans-neue-expanded {
  font-family: "Eve Sans Neue Expanded", "HelveticaNeue-Light",
    "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.fragma {
  font-family: "Fragma Medium", "HelveticaNeue-Light",
    "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
    sans-serif;
  font-weight: 600;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.69);
}
dl {
  display: grid;
  grid-gap: 4px 16px;
  grid-template-columns: max-content;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0;
  grid-column-start: 2;
}